<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
                   <ul><div class="floatleft">
                <li class="special_text"><a href="#">Casey Breen</a></li>
            </div>
            <div class="floatright">
                <li><a href="/about">About</a></li>
                <li><a href="https://caseybreen.com/pdf/cb_cv_8_31_2020.pdf">CV2</a></li>
            </div>
	  </ul>
       </nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
			</footer>
